@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,500;1,800&family=Roboto&display=swap");

:root {
  --primary: #145ff0;
  --text: #06183d;
  --text-gray: #60646d;
  --white: #fff;
  --orange: #ff6845;
  --yellow: #fcaa0f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

button,
input,
[tabindex] {
  outline: none;
  border: none;
}
a[href] {
  color: var(--text);
  text-decoration: none;
}
